.imgDiagram {
	float:left;
}

img {
	float: right;
	margin: 0px;
}

h1 {
	font-family:Arial, Helvetica, sans-serif; font-size:300%;
}
h2 {
	font-family:Arial, Helvetica, sans-serif; font-size:200%;
}
h3 {
	font-family:Arial, Helvetica, sans-serif; font-size:150%;
}
h4 {
	font-family:Arial, Helvetica, sans-serif; font-size:120%;
}
h5 {
	font-family:Arial, Helvetica, sans-serif; font-size:100%;
}
p {
	font-family:"Times New Roman", Times, serif;
}
body {
	font-family:"Times New Roman", Times, serif;
}
/*the above is probably redundant, but I couldn't get it to work otherwise*/

.Table
{
	display: table;
}
.Title
{
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}
.Heading
{
	display: table-row;
	font-weight: bold;
	text-align: center;
}
.Row
{
	display: table-row;
}
.Cell
{
	display: table-cell;
	border: solid;
	border-width: thin;
	padding-left: 5px;
	padding-right: 5px;
}